In [15]:
import pandas as pd
import nltk

In [17]:
df = pd.read_pickle("./df_preprocessed_text.pkl")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Text                    1000 non-null   object
 1   Score                   1000 non-null   int64
 2   preprocessed_text       1000 non-null   object
 3   length_of_the_sentence  1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [18]:
df.head()

,Text,Score,preprocessed_text,length_of_the_sentence
0,I have bought several of the Vitality canned d...,5,bought several vitality canned dog food produ...,23
1,Product arrived labeled as Jumbo Salted Peanut...,1,product arrived labeled jumbo salted peanut p...,18
2,This is a confection that has been around a fe...,4,confection around century light pillowy citru...,39
3,If you are looking for the secret ingredient i...,2,looking secret ingredient believe found got a...,17
4,Great taffy at a great price. There was a wid...,5,great taffy great price wide assortment yummy...,13

In [19]:
df_unique = df["preprocessed_text"].str.split(expand=True).stack().value_counts()
df_unique = df_unique.reset_index()
df_unique.head()

    index  count
0    chip    659
1    like    441
2  flavor    398
3   taste    346
4    good    326

In [ ]:
df_unique["POS_TAG"] = df_unique["index"].apply(lambda x:nltk.pos_tag(str.split(x)))
df_unique.head(10)